tomocatdb.egg-info/

tomocatdb/__pycache__

# Alembic related files not needed
tomocatdb/alembic/__pycache__
tomocatdb/alembic/versions/*

# Necessary git file
!tomocatdb/alembic/versions/.gitkeep

# bin files
bin/__pycache__